<html>
<head>
<title>ChipKIT(TM) uC32 & Uno32 Shield</title>
</head>
<body>
<h1>ChipKIT(TM) uC32 & Uno32</h1>
<h2>Shield Template</h2>

<p>
This project provides the base template to create a shield for use with 
a Microchip ChipKIT(TM) <a href="http://www.digilentinc.com/Products/Detail.cfm?NavPath=2,892,1035&Prod=CHIPKIT-UC32">uC32</a>
development board or
 a Microchip ChipKIT(TM) <a href="http://www.digilentinc.com/Products/Detail.cfm?NavPath=2,892,893&Prod=CHIPKIT-UNO32">Uno32</a>
 development board.
</p>

<p>The following connectors should be used with the shield for connection with the development board:
<ul>
<li>2x - Samtec SSQ-108-23-F-D</li>
<li>1x - Samtec SSQ-103-23-F-D</li>
<li>1x - Samtec SSQ-106-23-F-D</li>
<li>1x - Samtec SSQ-106-23-F-S</li>
</ul>
</p>

<p>The board outline looks like the following:</p>

<p><img src="board.png"></p>

<p>(c)2013 Ian McInerney</p>
</body>
</html>
