#################
## KiCad Library Excludes
#################
*.bak
*.dcm
*.bck


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Mac
############
.DS_Store
