<html>
<head>
<title>CubeSat Kit Internal Stack Board</title>
</head>
<body>
<h1>CubeSat Kit Internal Stack</h1>
<h2>Board Template</h2>

<p>
This project provides the base template to create a board for use in a CubeSat using a CubeSat Kit frame and bus architecture.


<p>The bus connectors utilize a 0.48in tail below the board for a board-to-board connection.
<p>The following connectors should be used with the 
<ul>
<li>2x - Samtec ESQ-126-39-G-D - These headers are the stacking headers</li>
<li>2x - Samtec ESQ-126-37-G-D - These headers are not stacking headers </li>
</ul>
</p>

<p>The board outline looks like the following:</p>

<p><img src="Board.png"></p>

<p>Template (c)2015 Ian McInerney. Board outline based upon ClydeSpace EPS board outlines.</p>
</body>
</html>
